body
{
    background-color: rgba(77, 74, 74, 0.749);
}
.header-logo
{
    margin-left:5px;
}
#header-logo
{
    width:100px
}

.main-section
{
    display: flex;
    flex-direction: column;
    justify-items: center;  
    align-items: center;
    height:100vh;
}
h1{
    color: aliceblue;
     
}
.main-section-profile-images
{
    display:flex;
    text-align: center;
    font-size: 16px;
    color: white;
    
}
#image-1
{
    width: 132px;
    padding: 2px;
    
   
}
button
{
   margin-left:45%;
   border: 2px solid black;

}
button:hover
{
    background-color: blue;
}