fieldset
{
    margin-top: 200px;
    margin-left:25%;
    margin-right:25%;
    width:250px;
    height:550px;
}
.footer
{
    margin-left:25%;
    margin-right:25%;



}
.image1
{ 
    margin-top: 40px;
    width:200px;
    margin-left:30%;
    margin-right:30%;
}
.signin
{
    margin-left:40%;
    font-size: 25px;
    margin-right:40%;
    
}
.para{
    margin-left:30%;
    
}
.search{
      margin-left: 30px;
     margin-bottom: 10px;
     margin-right:30%;
}
#search
{
    padding:20px;
    width:400px;
}
.email{
    color:blue;
    margin-left:30px;
}
.para1{
    margin-left:30px;
}
.learn{
    margin-left:30px;
    
}
.account{
    color:blue;
    margin-left:30px;
     
}
button
{   
    margin-left:220px;
    background-color:blue;
    border:none;
    padding:14px;
    width:100px;
    color:white;
}
a
{
 text-decoration: none;
 color:black;    
    
}
 .help{
    margin-left:210px;
 }
 .privacy{
    margin-left:10px;
 }
 .terms{
    margin-left:10px;
 }